* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;

}
.container {
    max-width: 1110px;
    margin: 0 auto;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
a {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: #ED4C5C;
}
